node_modules/**

.vscode/**
.vscode-test/**

.github/**
CODEOWNERS

tsconfig.base.json
**/tsconfig.json
**/*.ts
**/*.map
webpack.config.js
webpack-inspect.js

defs/_language_template/**
.res.ignore/**
*.bat
tests/**
src/**
story-map/**

.gitignore
.eslintrc.js
.browserlistrc
babel.config.js
vetur.config.js
vue.config.js