node_modules/**
.vscode/**
.vscode-test/**
.github/**
**/*.ts
**/*.map
.gitignore
tsconfig.base.json
**/tsconfig.json
webpack.config.js
defs/_language_template/**
.res.ignore/**
*.bat
tests/**
src/**
story-map/**